.slideout {
    
    &--right {
        animation: slideout .75s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
        
        @keyframes slideout {
            from {
              transform: translateX(0%);
            }
          
            to {
              transform: translateX(100%);
            }
        }
    }
}